body {
  background-color: #000;
  height: 100%;
}
.container {
  width: 1200px;
  height: 100%;
  background-color: #fff;
  margin: auto;
  display: flex;
}
.about {
  width: 35%;
  background-color: #08243a;
  padding: 10px 0 50px 0;
  font-family: "Montserrat";
}
.about__serkl {
  background-color: #00152a;
  color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 8px solid #fff;
  margin: auto;
  background-image: url(../img/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about__comment {
  background-color: #00152a;
  color: #fff;
  width: 100px;
  margin: auto;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  padding: 5px;
}
.about__comment:after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #00152a;
  z-index: 500;
  position: absolute;
  top: 100%;
  left: 40px;
}
.about__name {
  text-align: center;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}
.about__sabtitle {
  text-align: center;
  color: #fff;
  margin: 0;
  margin-bottom: 15px;
}
.about__contact {
  color: #fff;
  background-color: #00152a;
  padding: 20px 15px;
  margin-bottom: 10px;
}
.about__name-sabname {
  margin-left: 15px;
  text-transform: uppercase;
}
.me {
  background-color: #08243a;
  margin-bottom: 0px;
  padding: 20px 45px;
}
.about__language {
  text-align: left;
  color: #fff;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 45px;
  font-weight: bold;
}
.about__language-skill {
  margin-left: 45px;
  font-weight: normal;
}

.about__hobbies {
  color: #fff;
  background-color: #00152a;
  padding: 20px 15px;
  margin-bottom: 10px;
  margin-top: 25px;
}
.hobbies {
  font-weight: normal;
}
// ==========================
.skills {
  width: 65%;
  background-color: #ffffff;
  padding: 10px 0 50px 0;
  font-family: "Montserrat";
}
.education {
  //   position: relative;
  height: 20%;
  display: flex;
  justify-content: space-between;
}
.wrapper {
  border-top: 0px solid #062338;
  display: block;
  transform-origin: 0 0;
  transform: rotate(-90deg) translateX(-135%);
  margin-right: 30px;
  height: 50px;
  //   position: absolute;
  //   left: -169px;
  //   top: 0px;
}
.inner {
  text-transform: uppercase;
  background-color: #f87500;
  font-family: sans-serif;
  color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 5px 15px;
  margin: 0 15px;
  position: relative;
  width: 100%;
  text-align: center;
}
.inner:before,
.inner:after {
  content: "";
  display: block;
  width: 15px;
  height: 50%;
  position: absolute;
}
.inner:before {
  left: -14px;
  top: 0;
  background: radial-gradient(circle at -10% 105%, transparent 70%, #f87500 70%);
}
.inner:after {
  right: -14px;
  top: 0;
  background: radial-gradient(circle at -10% 105%, transparent 70%, #f87500 70%);
  transform: scaleX(-1);
}
.main {
  height: 100%;
}
.line {
  width: 2px;
  height: 100%;
  background-color: black;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.ring {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: white;
}
.university {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.university__title {
  color: #000000;
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
  width: 200px;
}
.university__subtitle {
  color: #000000;
  margin: 0;
  font-weight: normal;
}
.fa.fa-pencil {
  font-size: 70px;
  text-align: center;
  align-self: center;
  margin-right: 30px;
  color: #f87500;
}
.yers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 30px;
}
.yers__lesson {
  color: #000000;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
}
.inner.green {
  background-color: #92c715;
}
.inner.green:before {
  background: radial-gradient(circle at -10% 105%, transparent 70%, #92c715 70%);
}
.inner.green:after {
  background: radial-gradient(circle at -10% 105%, transparent 70%, #92c715 70%);
}
.fa.fa-black-tie{
	color:  #92c715;
  font-size: 70px;
  text-align: center;
  align-self: center;
  margin-right: 30px;
}